@import '../../index.scss';

.home_screen {
  width: 100%;
  height: 100vh;
  .home_screen_container {
    width: 100%;
    height: 100%;
    .home_screen_wrapper {
      width: 100%;
      height: 100%;
      padding: 2em 4em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .head_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 15%;
        .head_content {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        .head_content_filter {
          display: flex;
          .filter_text {
            margin: 0 0.5em;
            height: fit-content;
            padding: 0.5em;
            cursor: pointer;
            font-size: 18px;
          }
          .active_filter {
            font-weight: 700;
          }
        }
      }
      .chart_container {
        width: 100%;
        height: 50%;
        .chart_wrapper {
          width: 100%;
          height: 100%;
        }
      }

      .coin_details_container {
        width: 100%;
        height: 20%;
        .coin_details_wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          .coin_content {
            width: calc(100% / 3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .coin_detail_header {
              padding: 0.5em 0;
            }
            .market_cap_content {
              display: flex;
              align-items: center;
              .padding_right {
                padding-left: 0.5em;
              }
            }
          }
          .first_content {
            border-top: 1px solid $boxBorder;
            border-right: 1px solid $boxBorder;
          }
          .second_content {
            border-top: 1px solid $boxBorder;
            border-right: 1px solid $boxBorder;
          }
          .third_content {
            border-top: 1px solid $boxBorder;
          }
        }
      }
    }
  }
}
